.footer
{
    display: grid;
    grid-column: full-start / full-end;
    min-height: 30rem;
    padding: 3rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, rgba(#000,.2),rgba(#000,.2)), url(../img/footer.jpg);
    background-size: cover;
    color: $color-text;
    align-items: center;
    grid-template-columns: 1fr;
    grid-row: auto auto auto;

    &__heading
    {
        grid-row: 1 / 2;
        align-self: center;
        @include fluid-type(25px,55px);
        text-align: center;
        text-shadow: 0 6px 12px #000;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__links
    {
        list-style: none;
        justify-self: center;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #fff;
        padding: 10px 0;

        @media only screen and (min-width: 48.5em)
        {
            flex-direction: row;
        }

        &--items
        {
            &:not(:last-child)
            {
                margin-right: 2rem;
                margin-bottom: 5px;
            }
            & > a
            {
                color: $color-text;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                @include fluid-type(14px,18px);
                border-bottom: 2px solid transparent;
                transition: all .3s;

                @media only screen and (min-width: 48.5em)
                {
                    padding-bottom: 10px;
                }
                &:hover
                {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }

    &__copyright
    {
        grid-row: 3 / 4;
        align-self: end;
        justify-self: center;
        width: 80%;
        @include fluid-type(10px,12px);
        text-align: center;
    }
}