.header
{
    height: 90vh;
    clip-path: polygon(100% 0, 100% 80vh, 0 90vh, 0 0);
    background-image: linear-gradient(to right bottom, rgba($color-gradient-1,.7),rgba($color-gradient-2,.7)), url("../img/bg-header.jpeg");
    background-size: cover;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 200px) 
    {
      background-image: linear-gradient(to right bottom, rgba($color-gradient-1,.7),rgba($color-gradient-2,.7)), url("../img/bg-header 2x.jpg"); 
    }

    &__contact
    {
      background-image: linear-gradient(to right bottom, rgba(#333,.7),rgba(#333,.7)), url("../img/contact.jpg");
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 200px) 
      {
        background-image: linear-gradient(to right bottom, rgba(#333,.7),rgba(#333,.7)), url("../img/contact2x.jpg");
      }
    }
}