.about
{
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: 1fr minmax(22rem, 35rem) 1fr;

    &__intro
    {
        @include fluid-type(14px, 18px);
        grid-column: 2 / 3;
        text-align: justify;
        color: rgba(#000,.5);
    }
}
.team
{
    grid-column: content-start / content-end;
}